.footer {
  background-color: #055052;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-icons {
  margin-bottom: 10px;
}

.footer-icons a {
  margin: 0 15px;
  color: #E4FBFF;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.footer-icons a:hover {
  color: #000000;
}

.footer p {
  font-size: 1rem;
  color: #E4FBFF;
  margin-top: 10px;
}
.developer {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #ffffff;
}