.projects-section {
  background-color: #b2ebf2; /* Light blue background */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects-section .text-center{
  background-color: #b2ebf2; /* Light blue background */
  padding-top: 1rem;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
}


.project-card {
  background-color: #e0f7fa; /* Slightly lighter blue */
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.project-card h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card p {
  font-size: 0.9rem;
  color: #000000;
}

.project-image {
  border-radius: 10px;
  max-height: 200px;
  object-fit: cover;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.text-center{
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
