
/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  .header-font {
    font-family: 'Pacifico', cursive;
  }
  
  .bg-blue-100 {
    background-color: #000000;
  }
  
  .bg-cyan-300 {
    background-color: #81F5FF;
  }
  
  .text-cyan-600 {
    color: #055052;
  }
  
  .text-black {
    color: #055052;
  }
  
  .text-gray-600 {
    color: #d10000;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .text-5xl {
    font-size: 3rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .ml-8 {
    margin-left: 2rem;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
  
  .space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }
  
  .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
  
  .md\:flex-row {
    flex-direction: row;
  }
  
  .md\:ml-8 {
    margin-left: 2rem;
  }
  
  .md\:mt-0 {
    margin-top: 0;
  }
  
  .md\:text-left {
    text-align: left;
  }
  
  .md\:text-center {
    text-align: center;
  }
  